.about {
  padding-bottom: 10px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.about__block-image {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  gap: 40px;
  justify-content: space-evenly;
}

.about__image-item {
  object-fit: cover;
}

.about__block-quote {
  max-width: 500px;
  min-height: 222px;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 16px;
}

.about__block-image1 {
  width: 100%;
  max-width: 600px;
  height: 596px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.blocuote {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 35px;
}

.about__block-image__qutoe__image {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 33px;
}

.about:after {
  content: " ";
  display: table;
  clear: both;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  white-space: pre-line;
  margin: 0 0 50px;
}

.about__text:nth-child(odd) {
  margin-bottom: 25px;
}

.about__blockquote {
  position: relative;
  max-width: 500px;
  margin: 0;
  padding-left: 14px;
}

.about__blockquote-text {
  width: 100%;
  font-weight: 400;
  font-size: 44px;
  text-transform: uppercase;
  margin: 0 0 40px;
  line-height: 50px;
  white-space: pre-line;
  text-align: start;
  padding-left: 32px;
  padding-top: 4px;
}

.about__blockquote-text:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/img__graphic/about/quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  margin-right: 16px;
  left: 17px;
}

.about__blockquote-text:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/img__graphic/about/quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  transform: rotate(180deg);
  right: 95px;
  top: 161px; 
}

.about__quote__image {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.about__quote__image-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  white-space: pre-line;
  display: block;
  margin-right: 40px;
  line-height: 28px;
}

.about__quote__text-capitalize {
  text-transform: capitalize;
}

.about__quote__text-lowercase {
  text-transform: lowercase;
}

.about__quote__image-item {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 50% 25%;
  border-radius: 50%;
  display: block;
  margin-right: 33px;
}

@media (max-width: 1240px) {
  .about {
    padding-top: 30px;
  }

  .about__title {
    font-size: 30px;
    margin-bottom: 26px;
  }

  .about__block-quote {
    padding-left: 0;
    max-width: 444px;
    min-height: 222px;
  }

  .about__text {
    font-size: 18px;
    line-height: 25px;
  }

  .about__blockquote {
    max-width: 419px;
    padding-left: 0;
  }

  .about__blockquote-text {
    font-size: 30px;
    white-space: normal;
    line-height: 35px;
    padding-left: 25px;
  }

  .about__text:nth-child(odd) {
    margin-bottom: 20px;
  }

  .about__quote__image-text {
    font-size: 18px;
    line-height: 24px;
    margin-right: 18px;
  }

  .about__block-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 139px);
    gap: 35px;
    padding-left: 5px;
  }
  .about__block-image1 {
    max-width: 420px;
    height: 417px;
  }
  .blocuote {
    padding-top: 57px;
  }

  .about__blockquote-text:before {
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
  }

  .about__blockquote-text:after {
    width: 15px;
    height: 15px;
    right: 149px;
    top: 79px;
  }

  .about__quote__image-item {
    width: 70px;
    height: 70px;
  }

  .about__block-image__qutoe__image {
    padding-top: 21px;
  }
}

@media (max-width: 965px) {
  .about__title {
    font-size: 24px;
    margin-bottom: 29px;
    padding-left: 13px;
  }

  .about__block-quote {
    max-width: 278px;
    min-height: 247px;
  }

  .about__text {
    font-size: 16px;
    line-height: 23px;
    max-width: 278px;
    margin-bottom: 0;
  }

  .about__blockquote {
    max-width: 666px;
  }

  .about__blockquote-text {
    font-size: 32px;
  }

  .about__text:nth-child(odd) {
    padding-top: 69px;
    margin-bottom: 19px;
    line-height: 23px;
  }

  .about__block-image {
    display: grid;

    grid-template-rows: repeat(2, 126px) repeat(2, 90px);
    gap: 27px;
    padding-left: 9px;
  }

  .about__block-image1 {
    max-width: 382px;
    height: 380px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .about__image-item {
    object-fit: cover;
    height: 380px;
  }

  .about__block-quote {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left: 6px;
  }

  .blocuote {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 35px;
  }

  .about__block-image__qutoe__image {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-top: 0;
    margin-top: -13px;
  }

  .blocuote {
    padding-top: 0;
    margin-left: -9px;
  }

  .about__blockquote-text:before {
    width: 16px;
    height: 16px;
    left: 10px;
    top: -6px;
  }

  .about__blockquote-text:after {
    position: static;
    width: 16px;
    height: 16px;
    right: 90px;
    top: 38px;
  }

  .about__quote__image-item {
    margin-right: 26px;
  }

  .about__quote__image-text {
    line-height: 24px;
    margin-right: 8px;
  }
}

@media (max-width: 545px) {
  .about {
    padding-top: 0;
  }

  .about__title {
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 0;
  }

  .about__block-quote {
    max-width: 280px;
    min-height: 127px;
    padding-left: 0;
  }

  .about__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 270px;
    white-space: normal;
  }

  .about__blockquote {
    max-width: 280px;
  }

  .about__blockquote-text {
    font-size: 18px;
    line-height: 25px;
  }

  .about__text:nth-child(odd) {
    padding-top: 0;
    margin-bottom: 16px;
    line-height: 16px;
  }

  .about__block-image {
    display: grid;
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(1, 127px) repeat(1, 280px) repeat(1, 79px) repeat(1, 56px);
    gap: 15px;
    padding-left: 0;
    justify-content: center;
  }

  .about__block-image1 {
    max-width: 280px;
    height: 280px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .about__block-quote {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .blocuote {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 3px;
    margin-left: -11px;
  }

  .about__block-image__qutoe__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 0;
  }

  .about__blockquote-text:before {
    width: 11px;
    height: 11px;
    left: 12px;
    top: 0px;
  }

  .about__blockquote-text:after {
    position: absolute;
    width: 11px;
    height: 11px;
    right: 106px;
    top: 59px;
  }

  .about__block-image__qutoe__image {
    padding-top: 19px;
    margin-top: -19px;
  }

  .about__quote__image {
    justify-content: flex-start;
  }

  .about__quote__image-text {
    line-height: 18px;
    font-size: 12px;
  }
  
  .about__quote__image-item {
    width: 56px;
    height: 56px;
    margin-right: 9px;
  }
}
  
