.banner__container {
    max-width: 1240px;
    min-height: 823px;
    position: relative;
    z-index: 0;
}

.banner__container:before {
    content: "";
    position: absolute;
    width: 675px;
    height: 762px;
    background-image: url(../img/img__graphic/banner/banner_title.png);
    background-repeat: no-repeat;
    right: 30px;
    bottom: 0;
    background-size: contain;
    z-index: 1;
}

.banner__title {
    text-align: left;
    font-weight: 900;
    font-size: 150px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
}

.banner__title-text {
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 0 102px;
    margin-bottom: 30px;
    line-height: 50px;
}

.banner__info {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 150px;
}

.banner__info-halls {
  width: 193px;
}

.banner__info-halls-text {
  font-weight: 900;
  font-size: 100px;
  color: var(--color-icon-purple);
  text-align: center;
  line-height: 141px;
}

.banner__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__info-equipment {
  width: 166px;
}

.banner__info-equipment-text {
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: var(--color-icon-purple);
  text-align: center;
  line-height: 106px;
}

.banner__button {
  width: 374px;
  height: 80px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-background-purple-1);
  border: none;
  border-radius: 10px;
}

.banner__button:hover, .banner__button:focus {
  outline: none;
  border: none;
  background-color: var(--color-background-purple-2);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__button:active {
  background-color:var(--color-background-purple-3);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.banner__down  {
  width: 97px;
  height: 97px;
  border: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  bottom: 90px;
  left: calc(50% - 52.5px);
  z-index: 2;
}

.banner__down > svg {
  fill: transparent;
}

.banner__down > svg > circle {
  stroke: var(--color-white);
}

.banner__down:hover > svg {
  fill: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:hover > svg > circle {
  stroke: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:hover > svg > rect {
  fill: var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:focus {
  outline: 1px solid var(--color-icon-purple);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:active > svg {
  fill: var(--color-icon-purple);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:active > svg > circle {
  stroke: var(--color-icon-purple);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.banner__down:active > svg > rect {
  fill:var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

@media (max-width: 1240px) {
  .banner {
    padding-top: 31px;
  }

  .banner__container {
    min-height: 583px;
  }

  .container {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 30px;
}

  .banner__container:before {
    width: 453px;
    height: 520px;
    top: 63px;
}

  .banner__title {
    font-size: 120px;
    line-height: 100%;
  }

  .banner__title-text {
    font-size: 22px;
    line-height: 68px;
    padding-left: 99px;
    margin-bottom: 10px;
  }

  .banner__info-halls {
    width: 168px;
  }

  .banner__info-halls-text {
    font-size: 80px;
    line-height: 113px;
  }

  .banner__text {
    font-size: 26px;
    line-height: 30px;
  }

  .banner__info {
    margin-bottom: 82px;
  }

  .banner__info-equipment {
    width: 133px;
  }

  .banner__info-equipment-text {
    font-size: 60px;
    line-height: 85px;
  }

  .banner__button {
    width: 296px;
    height: 64px;
    font-size: 22px;
    line-height: 30px;
  }

  .banner__down {
    width: 67px;
    height: 67px;
    bottom: 47px;
    left: calc(50% - 34.5px);
  }

  .btn__down {
    padding-left: 40px;
  }
}