.banner__container {
    max-width: 1240px;
    min-height: 823px;
    position: relative;
    z-index: 0;
}

.banner__container:before {
    content: "";
    position: absolute;
    width: 675px;
    height: 762px;
    background-image: url(../img/img__graphic/banner/banner_title.png);
    background-repeat: no-repeat;
    right: 30px;
    bottom: 0;
    background-size: contain;
    z-index: 1;
}

.banner__title {
    text-align: left;
    font-weight: 900;
    font-size: 150px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin: 0;
}

.banner__text {
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 0 100px;
    margin-bottom: 30px;
}

.block__flex {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 150px;
}

.banner__block-1 {
  width: 193px;
}

.big-text {
  font-weight: 900;
  font-size: 100px;
  color: #CD06FF;
  text-align: center;
}

.text2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__block-2 {
  width: 166px;
}

.big-text_2 {
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: #CD06FF;
  text-align: center;
}

.banner__button {
  width: 374px;
  height: 80px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #6C0287;
  border: none;
  border-radius: 10px;
}

.banner__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 90px;
  left: 565px;
  z-index: 2;
}

.banner__btn_icon {
  
}