.booking {
  padding-bottom: 0;
}

.booking__background {
  background-color: #440F51;
  padding-bottom: 80px;
}

.booking__title {
  padding-top: 80px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.booking__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.booking__hall {
  display: flex;
  gap: 60px;
  margin-bottom: 60px;
}

.booking__radio-none {
  display: none;
}

.booking__input-button {
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.booking__input-button:hover {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}

.booking__input-button:focus {
  border: 3px solid #640AA3;
}

.booking__input-button:active {
  color: #FFFFFF;
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
}

.booking__game {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.booking__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.booking__item {
  margin-bottom: 20px;
}

.booking__item:last-child {
  margin-bottom: 0;
}

.booking__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.booking__input-radio {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.booking__input-radio:focus {
  outline: 1px solid #CD06FF;
}

.booking__input-checkbox {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  outline: none;
}

.booking__input-checkbox:focus {
  outline: 1px solid #CD06FF;
}

.booking__data {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

.booking__details {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.booking__time {
  width: 300px;
  display: flex;
  gap: 32px;
}

.booking__block-left {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 16px;
}

.booking__data-time {
  width: 100%;
  height: 52px;
  outline: none;
}

.booking__data-time:focus {
  border: 2px solid #CD06FF;
}

.booking__block-center {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  gap: 20px;
}

.booking__block-right {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  gap: 20px;
}

.booking__input {
  width: 100%;
  height: 52px;
  padding-left: 20px;
  outline: none;
}

.booking__input:focus {
  border: 2px solid #CD06FF;
}

.booking__details-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.booking__button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #6C0287;
  float: right;
}

.booking__button:hover {
  background-color: #EADEED;
  border: 3px solid #6C0287;
}

.booking__button:focus {
  background-color: #FFFFFF;
  outline: 3px solid #6C0287;
}

.booking__button:active {
  background-color: #EADEED;
}