.comment {
  padding-top: 10px;
}

.comment__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.comment__list {
  max-width: 980px;
  margin: 0 auto;
}

.comment__item {
  margin-bottom: 50px;
}

.comment__item:last-child {
  margin: 0;
}

.comment__image {
  display: inline-block;
  margin-right: 15px;
}

.comment__image::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
  z-index: 2;
}

.comment__text {
  max-width: 673px;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  line-height: 28px;
  padding-top: 52px;
}

.comment__image-item {
  position: relative;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 11px;
  z-index: 0;
}

.comment-one {
  object-position: top;
}

.comment-two {
  object-position: 50% 25%;
}

.comment-three {
  object-position: 50% 55%;
}

.comment__image-text {
  text-align: center;
  font-size: 20px;
}

.comment__text {
  font-size: 20px;
}

@media (max-width: 1240px) {
  .container {
    max-width: 964px;
  }

  .comment {
    padding-top: 10px;
    margin-top: 0;
  }

  .comment__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .comment__list {
    padding-left: 100px;
  }

  .comment__item {
    margin-bottom: 40px;
  }

  .comment__image-item {
    width: 172px;
    height: 172px;
  }

  .comment__text {
    font-size: 18px;
    max-width: 515px;
    padding-top: 32px;
    padding-left: 18px;
  }

  .comment__image-text {
    font-size: 18px;
    padding-top: 10px;
  }

  .comment__image::before {
    width: 172px;
    height: 172px;
  }
}

@media (max-width: 965px) {
  .container {
    max-width: 748px;
  }

  .comment {
    padding-top: 45px;
    padding-bottom: 28px;
    margin-top: 0;
  }

  .comment__title {
    font-size: 24px;
    margin-bottom: 23px;
  }

  .comment__list {
    padding-left: 73px;
  }

  .comment__item {
    margin-bottom: 30px;
  }

  .comment__image-item {
    width: 153px;
    height: 153px;
  }

  .comment__text {
    font-size: 16px;
    max-width: 393px;
    padding-top: 27px;
    padding-left: 0;
    line-height: 23px;
  }

  .comment__image {
    margin-right: 12px;
  }

  .comment__image-text {
    font-size: 14px;
    padding-top: 6px;
  }

  .comment__image::before {
    width: 153px;
    height: 153px;
  }
}

@media (max-width: 545px) {
  .container {
    max-width: 380px;
  }

  .comment {
    padding-top: 3px;
    padding-bottom: 15px;
    margin-top: 0;
  }

  .comment__title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .comment__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 27px;
  }

  .comment__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .comment__item:last-child {
    margin-top: 13px;
  }

  .comment__image-item {
    width: 86px;
    height: 86px;
    margin-bottom: 0;
  }

  .comment__text {
    font-size: 12px;
    max-width: 280px;
    padding-top: 7px;
    padding-left: 0;
    line-height: 15px;
    margin-left: 0;
  }

  .comment__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .comment__image-text {
    font-size: 14px;
    padding-top: 9px;
    margin-bottom: 12px;
  }
  
  .comment__image::before {
    width: 86px;
    height: 86px;
  }
}