.contacts {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
  padding-bottom: 10px;
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.contacts__icon {
  width: 35px;
  height: 32px;
  margin-right: 28px;
}

.contacts__text {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
  text-decoration: none;
  white-space: pre-line;
}

.contacts__text:first-child {
  margin: 0 0 41px;
}

.contacts__address {
  margin-bottom: 39px;
}

.contacts__block {
  display: flex;
  gap: 180px;
}

.contacts__links {
  display: flex;
  gap: 27px;
}

.contacts__links-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  fill: var(--color-white);
}

.contacts__links-item:hover {
  border-radius: 50%;
  fill: var(--color-white-1);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.contacts__links-item:focus {
  outline: 1px solid var(--color-icon-purple);
  fill: var(--color-white-1);
}

.contacts__links-item:active {
  border-radius: 50%;
  fill: var(--color-icon-purple);
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.contacts__chart {
  width: 680px;
  height: 274px;
}

.contacts__map {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contacts__copyright-list {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.contacts__copyright-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
}
.contacts-hall {
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 44px;
}
@media (max-width: 1240px) {
  .container {
    max-width: 964px;
  }
  .contacts {
    padding-top: 0;
    margin-top: -65px;
  }
  .contacts__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .contacts__list {
    margin-bottom: 118px;
  }
  .contacts__icon {
    width: 26px;
    height: 26px;
    margin-right: 15px;
  }
  .contacts__links-item {
    width: 40px;
    height: 40px;
  }
  .contacts__chart {
    max-width: 542px;
  }
  .contacts__map {
    min-height: 274px;
  }
  .contacts__block {
    gap: 60px;
  }
}