.questions__list {
    list-style: none;
}

.questions__list-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    line-height: 150%;
}

.questions__list-item:not(:last-child) {
    margin-bottom: 20px;
}

.questions__list-item:nth-child(2n) {
    color: white;
    background-color: #440f51;
}

.questions__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.questions__img-purple {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  fill: transparent;
  stroke: #6C0287;
  
}

.questions__img-purple:hover {
  background-color: #6C0287;
  border-radius: 50%;
  stroke: #FFFFFF;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.questions__img-purple:focus {
  outline: none;
  border: none;
}

.questions__img-purple:active {
  border-radius: 50%;
  background-color: transparent;
  stroke: #6C0287;
  outline: 2px solid #6C0287;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.questions__img-white {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  fill: transparent;
  stroke: #FFFFFF;
  
}

.questions__img-white:hover {
  background-color: #FFFFFF;
  border-radius: 50%;
  stroke: #6C0287;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.questions__img-white:focus {
  outline: none;
  border: none;
}

.questions__img-white:active {
  border-radius: 50%;
  background-color: transparent;
  stroke: #FFFFFF;
  outline: 2px solid #FFFFFF;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

circle:hover {
  stroke: none;
}