.questions__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1, 1180px;
    grid-template-rows: repeat(5, 87px);
    gap: 20px;
}

.questions__list-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    color: var(--color-background-black-1);
    font-weight: 700;
    font-size: 24px;
    padding: 25px 70px;
    line-height: 150%;
}

.questions__list-item:nth-child(2n) {
    color: white;
    background-color: var(--color-background-purple);
}

.questions__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0 0 50px;
}

.questions__img-purple {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  background-color: transparent;
  fill: transparent;
  stroke: var( --color-background-purple-1);
}

.questions__img-purple:hover {
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  background-color: var(--color-background-purple-1);
  border-radius: 50%;
  stroke: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-purple:active {
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  stroke: var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-purple:active #question__path-purple {
  stroke: none;
}

.questions__img-white {
  width: 46px;
  height: 46px;
  border: 2px solid var(--color-white);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  fill: transparent;
  stroke: var(--color-white);
}

.questions__img-white:hover {
  border: 1px solid var(--color-white);
  outline: none;
  background-color: var(--color-white);
  border-radius: 50%;
  stroke: var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-white:active {
  border: 2px solid var(--color-white);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  stroke: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-white:active #question__path-white {
  stroke: none;
}

circle {
  stroke: none;
}

@media (max-width: 1240px) {
  .container {
    max-width: 964px;
  }
  .questions {
    padding-top: 21px;
  }
  .questions__list {
    grid-template-columns: 1, 904px;
    grid-template-rows: repeat(5, 70px);
    gap: 16px;
  }
  .questions__list-item {
    line-height: 20px;
    padding-left: 25px;
    padding-right: 20px;
    font-size: 20px;
  }
  .questions__list-item:nth-child(2n) {
    background-color: var(--color-white);
    color: var(--color-background-black-1);
  }
  .questions__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .questions__img-purple {
    margin-top: -15px;
  }
  .questions__img-white {
    border: 1px solid var(--color-background-purple-1);
    stroke: var( --color-background-purple-1);
    margin-top: -15px;
  }
  .questions__img-white:hover {
    border: 1px solid var(--color-background-purple-1);
    background-color: var(--color-background-purple-1);
    stroke: var(--color-white);
  }
  .questions__img-white:active {
    border: 1px solid var(--color-background-purple-1);
    stroke: var(--color-background-purple-1);
  }
  .questions__list-item:last-child {
    display: none;
  }
}