.questions__list {
    list-style: none;
}

.questions__list-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    color: var(--color-background-black-1);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    line-height: 150%;
}

.questions__list-item:not(:last-child) {
    margin-bottom: 20px;
}

.questions__list-item:nth-child(2n) {
    color: white;
    background-color: var(--color-background-purple);
}

.questions__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.questions__img-purple {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  background-color: transparent;
  fill: transparent;
  stroke: var( --color-background-purple-1);
}

.questions__img-purple:hover {
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  background-color: var(--color-background-purple-1);
  border-radius: 50%;
  stroke: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-purple:active {
  border: 1px solid var(--color-background-purple-1);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  stroke: var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-purple:active #question__path-purple {
  stroke: none;
}

.questions__img-white {
  width: 46px;
  height: 46px;
  border: 2px solid var(--color-white);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  fill: transparent;
  stroke: var(--color-white);
}

.questions__img-white:hover {
  border: 1px solid var(--color-white);
  outline: none;
  background-color: var(--color-white);
  border-radius: 50%;
  stroke: var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-white:active {
  border: 2px solid var(--color-white);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  stroke: var(--color-white);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.questions__img-white:active #question__path-white {
  stroke: none;
}

circle {
  stroke: none;
}