.halls {
  padding-top: 44px;
}

.halls__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 47px;
}

.halls__list { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* .halls__list { 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
} */

.halls__item {
  position: relative;
  display: inline-block;
  max-width: 580px;
  height: 349px;
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__item:nth-child(1n+3) {
  
}

.halls__item:nth-child(odd) {
  
}

.vibes {
  width: 100%;
  background-image: url(../img/img__graphic/halls/80__vibes.jpg);
  background-position: 4px 81%;
  object-fit: cover;
}

.wars {
  width: 100%;
  background-image: url(../img/img__graphic/halls/Star__Wars.jpg);
  background-position: 50%;
  object-fit: cover;
}

.west{
  width: 100%;
  background-image: url(../img/img__graphic/halls/wild__west.jpg);
  background-position: 50%;
  object-fit: cover;
}

.neon {
  width: 100%;
  background-image: url(../img/img__graphic/halls/neon__style.jpg);
  background-position: 50%;
  object-fit: cover;
}

.halls__item-text {
  position: absolute;
  max-width: 252px;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  left: 30%;
  top: 27%;
}

@media (max-width: 1240px) {
  .container {
    max-width: 964px;
  }

  .halls {
    padding-top: 3px;
  }

  .halls__title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .halls__list {
    gap: 18px;
  }

  .halls__item {
    max-width: 443px;
    height: 267px;
  }

  .halls__item-text {
    font-size: 50px;
    left: 23%;
    line-height: 120%;
  }
}

@media (max-width: 965px) {
  .container {
    max-width: 748px;
  }

  .halls {
    margin-top: -6px;
  }

  .halls__title {
    font-size: 24px;
    margin-bottom: 37px;
  }

  .halls__list {
    padding-left: 9px;
    gap: 18px;
  }

  .halls__item {
    max-width: 335px;
    height: 200px;
  }

  .halls__item-text {
    font-size: 40px;
  }

  .halls__item-text {
    max-width: 121px;
    left: 33%;
    top: 31%;
    line-height: 120%;
  }
}

@media (max-width: 545px) {
  .container {
    max-width: 964px;
  }

  .halls {
    margin-top: -39px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .halls__title {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .halls__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
  }

  .halls__item {
    max-width: 280px;
    height: 168px;
    margin: 0;
  }

  .halls__item:nth-child(odd) {
    margin-right: 0;
  }

  .halls__item-text {
    font-size: 26px;
    max-width: 79px;
    left: 37%;
    line-height: 120%;
  }
}