.header {
  padding-top: 30px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button-list {
  display: none;
}

.header__button-list__close {
  display: none;
  background-color: var(--color-background-black);
  border: none;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  outline: 1px solid var(--color-background-black);
  line-height: 50px;
}

.navigation__item:hover {
  background-color: var(--color-background-purple-1);
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button {
  width: 280px;
  height: 55px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: transparent;
  border: 3px solid var(--color-icon-purple);
  border-radius: 10px;
  line-height: 30px;
}

.header__button:hover {
  background-color: var(--color-background-purple-1);
  border: 3px solid var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button:focus {
  outline: none;
  border: none;
  background-color: var(--color-background-purple-1);
  border: 1px solid var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button:active {
  outline: none;
  border: none;
  background-color: var(--color-background-purple-3);
  border: 1px solid var(--color-background-black-3);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.back-main {
  padding-top: 51px;
}

.back-main__block-text {
  font-size: 22px;
}

.unicod {
  font-size: 35px;
}

.header__button-open {
  display: none;
}

@media (max-width: 1240px) {
  .navigation__list {
    gap: 20px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .navigation__text {
    font-size: 18px;
    line-height: 22px;
  }

  .header__button {
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }

  .back-main {
    padding-top: 42px;
  }

  .back-main__block-text {
    font-size: 22px;
  }

  .unicod {
    font-size: 35px;
  }
}

@media (max-width: 965px) {
  .nav-window {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
    background: rgba(27, 26, 27, 0.7);
    transition: opacity 0.3s ease-in-out;
  }

  .nav__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 688px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-background-black);
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .nav-window__show {
    display: block;
    opacity: 1;
  }
  
  .nav-window__hide {
    opacity: 0;
  }

  .nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav__item {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

  .nav__item:hover {
    background-color: var(--color-background-purple-1);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .nav__item:active {
    background-color: var(--color-icon-purple);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .nav__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navigation {
    display: none;
  }

  .header__button-list {
    display: block;
    width: 54px;
    height: 29px;
    background-color: var(--color-background-black);
    border: none;
    margin-right: 75px;
  }

  .header__button-list__close {
    display: none;
    width: 54px;
    height: 29px;
    background-color: var(--color-background-black);
    border: none;
  }

  .header__button-list:hover > svg > rect {
    fill: var(--color-icon-purple);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .header__button-list:active > svg > rect {
    fill: var(--color-background-purple-2);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .header__button-list:focus > svg > rect {
    outline: 1px solid var(--color-icon-purple);
    fill: var(--color-background-purple-2);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .back-main {
    padding-top: 25px;
    padding-left: 7px;
  }

  .back-main__block-text {
    font-size: 16px;
  }

  .unicod {
    font-size: 36px;
  }
}

@media (max-width: 705px) {
  .nav__content {
    width: 480px;
  }
}

@media (max-width: 600px) {
  .nav__content {
    width: 380px;
  }
}


@media (max-width: 545px) {
  .header {
    padding-top: 33px;
  }

  .header__button-list {
    display: block;
    background-color: var(--color-background-black);
    border: none;
    margin-right: 0;
    height: 20px;
  }

  .header__menu {
    display: flex;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__logo-svg {
    width: 66px;
    height: 42px;
  }

  .header__button-list__svg {
    margin-top: 5px;
    margin-left: -19px;
  }

  .header__button {
    display: none;
    margin-right: 10px;
  }

  .back-main {
    padding-left: 9px;
    padding-top: 26px;
    margin-left: 0;
  }

  .back-main__block-text {
    font-size: 12px;
  }
  
  .unicod {
    font-size: 20px;
  }

  .nav__content {
    padding-top: 30px;
  }

  .nav__text {
    font-size: 16px;
  }

  .header__button-open {
    display: block;
    width: 184px;
    height: 37px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: transparent;
    border: 2px solid var(--color-icon-purple);
    border-radius: 6px;
  }

  .header__button-open:hover {
    background-color: var(--color-background-purple-1);
    border: 3px solid var(--color-background-purple-1);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  
  .header__button-open:focus {
    outline: none;
    border: none;
    background-color: var(--color-background-purple-1);
    border: 1px solid var(--color-background-purple-1);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  
  .header__button-open:active {
    outline: none;
    border: none;
    background-color: var(--color-background-purple-3);
    border: 1px solid var(--color-background-black-3);
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .header__button-list__close {
    width: 32px;
    height: 32px;
  }

  .nav__text {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav__item:nth-child(5) {
    margin-bottom: 23px;
  }
}

@media (max-width: 450px) {
  .nav-window {
    top: 9%;
  }

  .nav__content {
    width: 280px;
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .nav__text {
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .header__button-open {
    margin-bottom: 4px;
  }
}