.header {
  padding-top: 30px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button-list {
  display: none;
}
.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  outline: 1px solid var(--color-background-black);
  line-height: 50px;
}


.navigation__item:hover {
  background-color: var(--color-background-purple-1);
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button {
  width: 280px;
  height: 55px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: transparent;
  border: 3px solid var(--color-icon-purple);
  border-radius: 10px;
  line-height: 30px;
  
}

.header__button:hover {
  background-color: var(--color-background-purple-1);
  border: 3px solid var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button:focus {
  outline: none;
  border: none;
  background-color: var(--color-background-purple-1);
  border: 1px solid var(--color-background-purple-1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header__button:active {
  outline: none;
  border: none;
  background-color: var(--color-background-purple-2);
  border: 1px solid var(--color-background-black-2);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.back-main {
  padding-top: 51px;
}
.back-main__block-text {
  font-size: 22px;
}
.unicod {
  font-size: 35px;
}
@media (max-width: 1240px) {
    .container {
      max-width: 964px;
      margin: 0 auto;
      padding: 0 30px;
  }
  
  .navigation__list {
    gap: 20px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .navigation__text {
    font-size: 18px;
    line-height: 22px;
  }

  .header__button {
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }
  .back-main {
    padding-top: 42px;
  }
  .back-main__block-text {
    font-size: 22px;
  }
  .unicod {
    font-size: 35px;
  }
}
@media (max-width: 965px) {
  .container {
    max-width: 964px;
}
.navigation__list {
  display: none;
}
.header__button-list {
  display: block;
  background-color: var(--color-background-black);
  border: none;
  margin-right: 75px;
}
.header__menu {
  padding-top: 5px;
  padding-left: 10px;
}
.header__button {
  margin-right: 10px;
}
}