.poster__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  white-space: pre-line;
  text-transform: uppercase;
  margin-bottom: 41px;
  line-height: 50px;
}

.poster__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 70px;
}

.poster__figure {
  position: relative;
  z-index: 0;
}

.poster__item-text {
  position: absolute;
  z-index: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  top: 166px;
  padding-left: 40px;
  white-space: pre-line;
  line-height: 28px;
}

.poster__item:nth-child(3n+2) {
  transform: translateY(70px);
}

.poster__item {
  perspective: 300px;
}

.poster__figure {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.poster__figure:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}