.header {
  padding-top: 30px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.header__button {
  width: 280px;
  height: 55px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  background-color: #1B1A1B;
}